@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Staatliches&display=swap');

* {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
  background: url('/assets/background.jpg');
  background-attachment: fixed;
  color: #FFFFFF;
}

/* *::-webkit-scrollbar, *::-webkit-scrollbar-track {
  background-color: transparent;
} */
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #a6f3ffbb;
}
*::-webkit-scrollbar, *::-webkit-scrollbar-track {
  background-color: #000000AA;
}
*::-webkit-scrollbar {
  width: 1px;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

textarea {
  resize: none;
}

a:active{
  outline: none;
}
button{
  outline: none;
}

/* input, textarea {
  background: transparent;
  border: 1px solid #FFE81F;
  padding: 15px;
  caret-color: rgba(255, 233, 31, 0.747);
} */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FFFFFF;
  opacity: 1; /* Firefox */
}